@import "tailwindcss";

@layer base {
  :root {
    color-scheme: dark;
  }
  html, body, #root {
    height: 100%;
  }
  body {
    @apply bg-zinc-950 text-zinc-100 font-sans;
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

/* safe area для bottom nav */
.pb-safe {
  padding-bottom: calc(4rem + env(safe-area-inset-bottom));
}
.bottom-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
